body {
    display: flex;
    font-size: 1.5rem;
}

.barralateral {
    background-color: coral;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
}

.item {
    border: solid 1px gray;
    padding: 10px;
}

.principal {
    background-color: rgb(255, 90, 30);
    color: antiquewhite;
    flex-grow: 1;
    padding: 20px;
}

@media (max-width: 640px) {
    body {
        flex-direction: column-reverse;
    }

    .barralateral{
        flex-direction: row;
        justify-content: space-around;
    }
}